@Styles.Render("~/Content/css-validate")
@Styles.Render("~/Content/dropdown-autocomplete")

@model MarkomApplication.ViewModel.EmployeeViewModel


@Html.AntiForgeryToken()

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="border py-3 rounded">

    <div class="form-row">
        <div class="form-horizontal col-md-6">

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;", placeholder = "Type Emp ID Number", maxLength = 50, onkeyup = "validationCode()" } })
                    @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;", placeholder = "Type First Name", maxLength = 50, onkeyup = "validationName()" } })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;", placeholder = "Type Last Name", maxLength = 50 } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group col-md-6">
            <div class="form-group form-inline">
                @Html.LabelFor(model => model.mCompanyId, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @*@Html.DropDownListFor(model => model.companyName, (IEnumerable<SelectListItem>)ViewBag.CompanyName, "", new { @class = "form-control dropdown-style" } )*@
                    @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;", placeholder = "- Company Name -", maxLength = 50 } })
                    <input type="hidden" id="mCompanyId" name="CompanyNameDropdown" />
                    @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group form-inline">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;", type = "email", onkeyup = "validationEmail()", placeholder = "Type Email", maxLength = 50 } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>

    <div class="form-row mx-1 py-lg-4 justify-content-end" style="background-color:#F8F8F8;">

        <button type="submit" name="submit" value="Create" id="btn_save_employee" class="btn btn-primary active mr-2" data-url="@Url.Action("CreateDataEmployee", "Employee")">Save</button>
        <button type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning mr-5 text-white">Cancel</button>

    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        //$("#firstName").focusout(function () {
        //    var FirstName = $("#firstName").val();
        //    if (FirstName == "") {
        //        $("#firstName").addClass("invalid");
        //    } else {
        //        $("#firstName").removeClass("invalid");
        //    }
        //});


    </script>
}
