@model IEnumerable<MarkomApplication.ViewModel.SouvenirViewModel>


@Styles.Render("~/Content/dropdown-autocomplete")

@{
    ViewBag.Title = "ListSouvenir";
}



<div class="container rounded-top border border-primary">

    <div class="row rounded-top list-head ">
        <p>List Souvenir</p>
    </div>
    <div class="row mx-2">
        <p class="p-2 my-3 bg-light text-dark" style="width:100%;">
            <a>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</a> /
            <a>@Html.ActionLink("Master", "Index", "Home", null, new { @class = "active" })</a> /
            List Souvenir
        </p>
        <div class="py-2" style="width:100%;">
            <a class="btn btn-primary active" id="btn_add_sou" role="button" aria-pressed="true" style="float: right;" data-url="@Url.Action("AddSouvenir", "Souvenir")">Add</a>
        </div>

        <div class="row search_group" style="width:100%">
            <div class="input-group">
                <div class="form-group">
                    <input type="text" id="dropdown_code_sou" name="DropdownCode" class="form-control rounded" placeholder="- Select Souvenir Code -">
                    <input type="hidden" id="dropdown_code_sou_id" name="SouvenirCodeDropdown" />
                </div>
                <div class="form-group">
                    <input type="text" id="dropdown_name_sou" name="DropdownName" class="form-control rounded" placeholder="- Select Souvenir Name -">
                    <input type="hidden" id="dropdown_name_sou_id" name="SouvenirNameDropdown" />
                </div>
                <div class="form-group">
                    <input type="text" id="dropdown_unit_sou" name="DropdownName" class="form-control rounded" placeholder="- Select Unit Name -">
                    <input type="hidden" id="dropdown_unit_sou_id" name="SouvenirUnitDropdown" />
                </div>
                <div class="form-group" style="max-width:220px;">
                    <div class="has-feedback">
                        <input id="created_date" class="form-control datepicker-here" data-date-format="dd/mm/yyyy" placeholder="Created" />
                        <i class="fa fa-calendar form-control-feedback"></i>
                    </div>
                </div>
                <div class="form-group" style="max-width:220px;">
                    <input id="created_by" type="text" class="form-control rounded" placeholder="Created By" name="src_created_sou" />
                </div>

                <div class="form-group" style="margin-right:0; ">
                    <button class="btn  btn-warning text-white" id="btn_search_sou" name="btn_search_sou" data-url="@Url.Action("Index", "Souvenir")"> &nbsp;Search</button>
                </div>
            </div>
        </div>
        <table id="tbl_list_sou" class="table">
        </table>
    </div>
</div>


@Html.Partial("_ModalPopUp")
@section Scripts{
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    <script src="~/Scripts/i18n/datepicker.en.js"></script>
    <script src="~/Scripts/crud/crudSouvenir.js"></script>
    <script src="~/Scripts/validation/validate-souvenir.js"></script>
}
@Html.Partial("_AlertPopUp")