@model IEnumerable<MarkomApplication.ViewModel.ProductViewModel>


<tr>
    <th>
        @Html.DisplayNameFor(model => model.code)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.description)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.createDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.createBy)
    </th>
    <th>Action</th>
</tr>
@if (Model != null)
{

    if (Model.Count() == 0)
    {
        <tr>
            <td colspan="7" style="text-align:center;" class="bg-light">Data tidak ditemukan</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createBy)
                </td>
                <td>
                    <button title="Tampilkan" id="btn_view_prod" class=" btn" data-id="@item.id" style="margin:2px; padding:2px;" data-url="@Url.Action("ViewProduct", "Product")">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button title="Ubah" id="btn_edit_prod" class="btn " data-id="@item.id" style="margin:2px; padding:2px;" data-url="@Url.Action("EditProduct", "Product")">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button title="Hapus" id="btn_del_prod" class="btn " data-id="@item.id" style="margin:2px; padding:2px;">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        }

    }
}